In [0]:
#Time: O(N)
#Space: O(N)
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window


# Start Spark
spark = SparkSession.builder.appName("DeptSalary").getOrCreate()

# Sample Data
data = [
    ("Asha", "IT", 90000),
    ("Ravi", "IT", 85000),
    ("Kiran", "IT", 90000),
    ("Meera", "HR", 70000),
    ("John", "HR", 68000)
]

df = spark.createDataFrame(data, ["name", "department", "salary"])

+----------+------+
|department|salary|
+----------+------+
|        IT| 90000|
|        IT| 85000|
|        HR| 70000|
|        HR| 68000|
+----------+------+

In [0]:
window = Window.partitionBy("department").orderBy(F.col("salary").desc())

df.withColumn("rank", F.dense_rank().over(window)).filter(F.col("rank")<=2)\
    .select(F.col("name"), F.col("department"), F.col("salary")).show()

+-----+----------+------+
| name|department|salary|
+-----+----------+------+
|Meera|        HR| 70000|
| John|        HR| 68000|
| Asha|        IT| 90000|
|Kiran|        IT| 90000|
| Ravi|        IT| 85000|
+-----+----------+------+